body{
    margin: 20px;
    padding: 0;
}
.board{
    background-color: rgb(175, 229, 130);
}
.board_img{
    width: 20%;
}
.board_form{
    background-color: rgb(125, 212, 252);
}

.card-Category{
    font-size: 50% ;
}